:root {
    --sides-padding-desktop: 3%;
    --sides-padding-mobile: 5%;

    --light-coral: #ee7c83ff;
    --azure-web: #cee0dcff;
    --columbia-blue: #b9cfd4ff;
    --davys-gray: #5b5b5bff;
    --raisin-black: #2e282aff;
}