/* Setup specific styles */
.fauxtable {
    margin-bottom: 2.5rem;
}

.item {
    margin-bottom: 2.5rem;
}

.item>p {
    line-height: 1.4;
    margin: 0.3rem;
    font-family: monospace;
    text-align: left;
}

h5,
h6 {
    margin: 0 0 0.5rem 0;
}