@font-face {
    font-family: Cthulhumbus;
    src: url('/fonts/JMH-Cthulhumbus-Arcade-UG.ttf');
}

@font-face {
    font-family: Cthulhumbus;
    src: url('/fonts/JMH-Cthulhumbus-Arcade.otf');
}

body {
    font-family: Cthulhumbus;
    font-size: 1.5rem;
    color: #b18888;
    margin: 0;
    padding: 0;
}
