@import url('./10-reset.css');
@import url('./20-root.css');
@import url('./90-animations.css');

.emote {
    vertical-align: middle;
    display: inline;
}

.fauxtable {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.fauxtable>*>svg,
img {
    vertical-align: middle;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.2rem;
    pointer-events: none;
    margin-top: -2px;
}

.floating {
    font-family: var(--logo-font);
    text-shadow: -3px 3px 0px rgb(119, 129, 126),
        -6px 6px 0px rgb(70, 77, 75);
}

/* Header */
.header {
    margin: 3vw 0 3vw 0;
}

@media (min-width: 1200px) {
    .header {
        margin: 4rem 0 4rem 0;
    }
}

.headerlinks {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tertiary-font);
    font-size: 2.2rem;
    font-weight: 500;
}

/* Footer */
.footer {
    justify-content: center;
    margin: 3vw 0 3vw 0;
}

@media (min-width: 1200px) {
    .footer {
        margin: 4rem 0 4rem 0;
    }
}

.footer>a {
    display: inline-block;
    font-family: var(--tertiary-font);
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.footer>*>svg,
img {
    vertical-align: middle;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
    pointer-events: none;
    margin-top: -2px;
}