@font-face {
    font-family: Bourgeois-Bold;
    src: url('/fonts/Bourgeois-Bold.ttf');
}

@font-face {
    font-family: Bourgeois-BoldCondensedItalic;
    src: url('/fonts/Bourgeois-BoldCondensedItalic.ttf');
}

@font-face {
    font-family: Bourgeois-BoldItalic;
    src: url('/fonts/Bourgeois-BoldItalic.ttf');
}

@font-face {
    font-family: Bourgeois-Heavy;
    src: url('/fonts/Bourgeois-Heavy.ttf');
}

@font-face {
    font-family: Bourgeois-HeavyCondensed;
    src: url('/fonts/Bourgeois-HeavyCondensed.ttf');
}

@font-face {
    font-family: Bourgeois-HeavyCondensedItalic;
    src: url('/fonts/Bourgeois-HeavyCondensedItalic.ttf');
}

@font-face {
    font-family: Bourgeois-HeavyItalic;
    src: url('/fonts/Bourgeois-HeavyItalic.ttf');
}

@font-face {
    font-family: Bourgeois-Light;
    src: url('/fonts/Bourgeois-Light.ttf');
}

@font-face {
    font-family: Bourgeois-LightCondensed;
    src: url('/fonts/Bourgeois-LightCondensed.ttf');
}

@font-face {
    font-family: Bourgeois-LightCondensedItalic;
    src: url('/fonts/Bourgeois-LightCondensedItalic.ttf');
}

@font-face {
    font-family: Bourgeois-LightItalic;
    src: url('/fonts/Bourgeois-LightItalic.ttf');
}

@font-face {
    font-family: Bourgeois-Medium;
    src: url('/fonts/Bourgeois-Medium.ttf');
}

@font-face {
    font-family: Bourgeois-MediumCondensedItalic;
    src: url('/fonts/Bourgeois-MediumCondensedItalic.ttf');
}

@font-face {
    font-family: Bourgeois-MediumItalic;
    src: url('/fonts/Bourgeois-MediumItalic.ttf');
}

@font-face {
    font-family: Bourgeois-Thin;
    src: url('/fonts/Bourgeois-Thin.ttf');
}

@font-face {
    font-family: Bourgeois-ThinCondensed;
    src: url('/fonts/Bourgeois-ThinCondensed.ttf');
}

@font-face {
    font-family: Bourgeois-ThinItalic;
    src: url('/fonts/Bourgeois-ThinItalic.ttf');
}

@font-face {
    font-family: Bourgeois-UltraBold;
    src: url('/fonts/Bourgeois-UltraBold.ttf');
}

@font-face {
    font-family: Bourgeois-UltraBoldCondensed;
    src: url('/fonts/Bourgeois-UltraBoldCondensed.ttf');
}

@font-face {
    font-family: Bourgeois-UltraBoldCondensedItalic;
    src: url('/fonts/Bourgeois-UltraBoldCondensedItalic.ttf');
}

@font-face {
    font-family: Bourgeois-UltraBoldItalic;
    src: url('/fonts/Bourgeois-UltraBoldItalic.ttf');
}

@font-face {
    font-family: DelaGothicOne-Regular;
    src: url('/fonts/DelaGothicOne-Regular.ttf');
}

@font-face {
    font-family: GasoekOne-Regular;
    src: url('/fonts/GasoekOne-Regular.ttf');
}

@font-face {
    font-family: Genos-Black;
    src: url('/fonts/Genos-Black.ttf');
}

@font-face {
    font-family: Genos-BlackItalic;
    src: url('/fonts/Genos-BlackItalic.ttf');
}

@font-face {
    font-family: Genos-Bold;
    src: url('/fonts/Genos-Bold.ttf');
}

@font-face {
    font-family: Genos-BoldItalic;
    src: url('/fonts/Genos-BoldItalic.ttf');
}

@font-face {
    font-family: Genos-ExtraBold;
    src: url('/fonts/Genos-ExtraBold.ttf');
}

@font-face {
    font-family: Genos-ExtraBoldItalic;
    src: url('/fonts/Genos-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: Genos-ExtraLight;
    src: url('/fonts/Genos-ExtraLight.ttf');
}

@font-face {
    font-family: Genos-ExtraLightItalic;
    src: url('/fonts/Genos-ExtraLightItalic.ttf');
}

@font-face {
    font-family: Genos-Italic;
    src: url('/fonts/Genos-Italic.ttf');
}

@font-face {
    font-family: Genos-Light;
    src: url('/fonts/Genos-Light.ttf');
}

@font-face {
    font-family: Genos-LightItalic;
    src: url('/fonts/Genos-LightItalic.ttf');
}

@font-face {
    font-family: Genos-Medium;
    src: url('/fonts/Genos-Medium.ttf');
}

@font-face {
    font-family: Genos-MediumItalic;
    src: url('/fonts/Genos-MediumItalic.ttf');
}

@font-face {
    font-family: Genos-Regular;
    src: url('/fonts/Genos-Regular.ttf');
}

@font-face {
    font-family: Genos-SemiBold;
    src: url('/fonts/Genos-SemiBold.ttf');
}

@font-face {
    font-family: Genos-SemiBoldItalic;
    src: url('/fonts/Genos-SemiBoldItalic.ttf');
}

@font-face {
    font-family: Genos-Thin;
    src: url('/fonts/Genos-Thin.ttf');
}

@font-face {
    font-family: Genos-ThinItalic;
    src: url('/fonts/Genos-ThinItalic.ttf');
}

@font-face {
    font-family: JMH-Cthulhumbus-Arcade-UG;
    src: url('/fonts/JMH-Cthulhumbus-Arcade-UG.ttf');
}

@font-face {
    font-family: JMH-Cthulhumbus-Arcade;
    src: url('/fonts/JMH-Cthulhumbus-Arcade.otf');
}

@font-face {
    font-family: LibreBarcode128Text-Regular;
    src: url('/fonts/LibreBarcode128Text-Regular.ttf');
}

@font-face {
    font-family: LibreBarcode39Text-Regular;
    src: url('/fonts/LibreBarcode39Text-Regular.ttf');
}

@font-face {
    font-family: Marske;
    src: url('/fonts/Marske.otf');
}

@font-face {
    font-family: Marske;
    src: url('/fonts/Marske.ttf');
}

@font-face {
    font-family: Michroma-Regular;
    src: url('/fonts/Michroma-Regular.ttf');
}

@font-face {
    font-family: NTR-Regular;
    src: url('/fonts/NTR-Regular.ttf');
}

@font-face {
    font-family: RFNGU;
    src: url('/fonts/RFNGU.TTF');
}

@font-face {
    font-family: Rajdhani-Bold;
    src: url('/fonts/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: Rajdhani-Light;
    src: url('/fonts/Rajdhani-Light.ttf');
}

@font-face {
    font-family: Rajdhani-Medium;
    src: url('/fonts/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url('/fonts/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: Rajdhani-SemiBold;
    src: url('/fonts/Rajdhani-SemiBold.ttf');
}

@font-face {
    font-family: RubikMonoOne-Regular;
    src: url('/fonts/RubikMonoOne-Regular.ttf');
}

@font-face {
    font-family: Silkscreen-Bold;
    src: url('/fonts/Silkscreen-Bold.ttf');
}

@font-face {
    font-family: Silkscreen-Regular;
    src: url('/fonts/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: SpaceMono-Bold;
    src: url('/fonts/SpaceMono-Bold.ttf');
}

@font-face {
    font-family: SpaceMono-BoldItalic;
    src: url('/fonts/SpaceMono-BoldItalic.ttf');
}

@font-face {
    font-family: SpaceMono-Italic;
    src: url('/fonts/SpaceMono-Italic.ttf');
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url('/fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: Syne-Regular;
    src: url('/fonts/Syne-Regular.ttf');
}

@font-face {
    font-family: TenorSans-Regular;
    src: url('/fonts/TenorSans-Regular.ttf');
}

@font-face {
    font-family: VT323-Regular;
    src: url('/fonts/VT323-Regular.ttf');
}

:root {
    --sides-padding-desktop: 3%;
    --sides-padding-mobile: 5%;

    --light-coral: hsla(356, 77%, 71%, 1);
    --azure-web: hsla(167, 22%, 84%, 1);
    --columbia-blue: hsla(191, 24%, 78%, 1);
    --davys-gray: hsla(0, 0%, 36%, 1);
    --raisin-black: hsla(340, 7%, 17%, 1);

    --vanilla: hsla(47, 57%, 75%, 1);
    --parchment: hsla(46, 51%, 88%, 1);
    --eerie-black: hsla(210, 3%, 14%, 1);
    --light-coral: hsla(1, 65%, 73%, 1);
    --salmon-pink: hsla(349, 84%, 74%, 1);

    --mountbatten-pink: hsla(292, 14%, 59%, 1);
    --rose-quartz: hsla(321, 19%, 67%, 1);

    --base-font-size: 1.8em;
    --main-font: 'Rajdhani-Bold', sans-serif;
    --secondary-font: 'Syne-Regular', monospace;

    --main-color: var(--eerie-black);
    --main-accent-color: var(--davys-gray);
    --secondary-color: var(--vanilla);
    --secondary-accent-color: var(--parchment);
    --tertiary-color: var(--light-coral);
    --tertiary-accent-color: var(--salmon-pink);
}

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        width: 13.3333333333%;
    }

    .three.columns {
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74.0%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }

}


/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}

body {
    font-size: var(--base-font-size);
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: var(--secondary-font);
    background: var(--main-color);
    color: var(--secondary-color);
}


/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: var(--main-font);
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }

    h2 {
        font-size: 4.2rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 3.0rem;
    }

    h5 {
        font-size: 2.4rem;
    }

    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
}


/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--tertiary-color);
}

a:hover {
    color: var(--tertiary-accent-color);
}


/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}


/* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}


/* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}


/* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}


/* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}


/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}


/* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}


/* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


/* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}