/* Blog specific styles */
table.article-list {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 375;
}

tr.article-row td.article-date {
    white-space: nowrap;
    font-family: var(--main-font);
    font-size: 1.4rem;
    border: none;
}

tr.article-row td.article-date time {
    border: none;
    padding-right: 1.4rem;
    font-family: var(--tertiary-font);
    font-weight: 325;
    font-variation-settings:
    "MONO" 1, "CASL" 0.45,
    "slnt" 0, "CRSV" 0.5;
}