@font-face {
    font-family: Cthulhumbus;
    src: url('/fonts/JMH-Cthulhumbus-Arcade-UG.ttf');
}

@font-face {
    font-family: Cthulhumbus;
    src: url('/fonts/JMH-Cthulhumbus-Arcade.otf');
}

@font-face {
    font-family: RubikMonoOne;
    src: url('/fonts/RubikMonoOne-Regular.ttf');
}

@font-face {
    font-family: DelaGothicOne;
    src: url('/fonts/DelaGothicOne-Regular.ttf');
}